@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,200;1,400&display=swap');

/*CSS voor de hele body*/
body {
	background-color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin:0;
}

/*Text*/
/*Onzichtbare heading h1*/
h1 {
	position: absolute;
	left: -10000em;
}

h2 {
	font-size: 20px;
	line-height: 24px;
	white-space: nowrap;
}

h3 {
	font-size: 16px;
	line-height: 17px;
	text-align: center;
}

h4 {
	font-size: 20px;
	line-height: 24px;
	color: black;
	white-space: nowrap;
	font-weight: bold;
}

p {
	font-family: 'Montserrat', sans-serif;
}

/*Header*/
body > header {
	  width: 100%;    
	  position: sticky;    
	  z-index: 1000;    
	  top: 0;    
	  background-color: #fff;
}

header>p {
	font-size: 11px;
	line-height: 18px;
	text-align: center;
}

header>nav ul li img {
	width: 1.5em;
}

header>nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

header> nav > ul:nth-of-type(3){
	align-items:center;
} 


header>nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
}

header>nav ul li {
	margin-right: 1em;
}

/*Navigatie & Hamburgermenu*/

nav {
	padding: .4em;
}

nav a {
	color:black;
	list-style: none;
	text-decoration: none;
	font-size:17px;
	font-weight:normal;
}

nav a:active {
	color:red;
}

.toonHamburger nav ul:first-of-type {
	left: 0;
	opacity: 1;
}

nav ul:first-of-type {
	opacity: 0;
	box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.8);
	left: -100%;
	position: fixed;
	/* display: flex; */
	flex-direction: column;
	height: 100vh;
	background-color: white;
	width: 70vw;
	margin: 0;
	top: 0;

	justify-content: flex-start;
	align-items: flex-start;
	padding: 2em;
	z-index: 100;

	transition: all 0.3s ease-out;
} 

nav ul:first-of-type li{
	margin:1em;
}


button {
	border: none;
	background-color: white;
}


/*Section 1*/
/*P en trending tekst*/
body>section h2 {
	font-size: 15px;
	text-align: left;
	padding-left:1em;
}

body > section p {
	font-size:11px;
}

/*images in cirkels*/
body > section{
	padding:0 1.1em;
}

body>section ul {
	position: relative;
	display: flex;
	padding:0;
	flex-direction: row;
	overflow: hidden;
	width: 100%;
	justify-content: space-between;
}

body > section ul li {
	display: block;
	width: 20%;
}

body > section ul li img {
	border-radius: 50%;
	width:100%;
}


/*Main*/

section ul li {
	list-style-type: none;
}/* elke section krijgt een bolletje(lijst)*/

/*Onzichtbare heading h3*/
main>section>h3 {
	position: absolute;
	left: -10000em;
}
/*Main section*/
main>section:nth-of-type(1) {
	max-width: 90%;
	margin: auto;
}

/*positioneren tekst in afbeeldingen*/
section ul li:first-of-type div,
main section ul li:nth-of-type(3) div {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
}

section ul li:first-of-type,
section ul li:nth-of-type(3) {
	position: relative;
}

/*Beide afbeeldingen*/
main>section ul li img {
	display: block;
	width: 100%;
}


main section ul {
	padding: 0;
}

/*afbeelding 1*/
main section ul li:first-of-type h2 {
	color: white;
	font-size: 20px;
}

main section>ul li:first-of-type p {
	font-size: 15px;
	line-height: 14px;
	color: white;
	white-space: nowrap;
	text-align: center;
}


/*blokje met prijs*/
section ul li div:first-of-type a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: left;
	position: absolute;
	left: .5em;
	bottom: 6em;
	margin: 1em 1em 2em 1em;
	padding: 1em;
	color: white;
	background-color: rgba(85, 85, 85, .75);
}

/* Gele blok tekst tussen afbeeldingen in*/
section p {
	font-size: 10px;
} /* nodig je vrienden uit..*/

main section ul li:nth-of-type(2) {
	background-color: #f4eddd;
	padding: 2em;
	margin: 1em 0;
}


/*afbeelding 2*/
main section ul li:nth-of-type(3) h2 {
	color: white;
	font-size: 18px;
}

main section>ul li:nth-of-type(3) p {
	font-size: 15px;
	line-height: 14px;
	color: white;
	white-space: nowrap;
	text-align: center;
}


/*Begin section magazines etc*/
/*header section*/
main>section:nth-of-type(2) header {
	padding-top: 1em;
}

main>section:nth-of-type(2) header a {
	display: block;
	margin: 1em 1em 2em 1em;
}

/*section articles*/
main section:nth-of-type(2) {
	background-color: #f4eddd;
	padding: 1.5em;
}

article {
	background-color: white;
	padding-bottom: 1em;
}

main>section:nth-of-type(2) article a {
	display: block;
	margin-top: 2em;
}

main section:last-of-type section {/*gap tussen de articles*/
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}

/*afbeeldingen articles*/
main section:nth-of-type(2) img {
	display: block;
	width: 100%;
	margin: auto;
}

/*typografie*/
article h2 {
	font-weight: normal;
	font-size: 12px;
}

article p {
	font-size: 15px;
	font-weight: 500;
}

main section:nth-of-type(2) a { /*read hm magazine tekst*/
	text-decoration: underline;
	font-size: 12px;
}

main section:nth-of-type(2) article a {
	text-decoration: none;
}

/*footer*/
footer {
	background-color: #e4e4e4;
}

footer p {
	font-size: 13px;
	display: block;
	padding: 1em;
	margin: 0;
}

footer ul {
	list-style: none;
	text-align: left;
	margin: 0;
}

footer h2,
a {
	font-weight: normal;
	font-size: 12px;
}

/*responsive*/
@media (min-width:700px){
	main section:last-of-type section {
	grid-template-columns: 1fr 1fr 1fr;
	}
	main > section:first-of-type{
	max-width:60%;
	}
	body > section{
	max-width:60%;
	margin:auto;	
	}
}


/* PRODUCTPAGINA */

/*Text*/
.productpagina h2{
	text-align:center;
	font-size:20px;
	/*padding:;*/
}


/*Main*/

.productpagina main section{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1em;
}

/*articles - producten*/

.productpagina section article h2{
	font-size:12px;
	text-align:left;
}

.productpagina section article p{
	font-size:10px;
	text-align:left;
}

.productpagina section article p:first-of-type{
	color:#007b5f;
}

.productpagina section article img:first-of-type{
	display: block;
	width: 100%;
}

/*hartje in afbeelding*/
.productpagina section article{
	position:relative;
}

.productpagina section article img:nth-of-type(2){
	display: block;
	position: absolute;
	right: .5em;
	bottom: 10em;
}

/*laadbutton*/
 .productpagina section button{
 	grid-column:1 / -1;
 	margin:0 auto 2em;
	padding:1em 3.5em;
	color:white;
	background-color:black;
	font-weight:700;
 }


/*Footer*/
.productpagina footer h2{
	font-size:12px;
}
