@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,200;1,400&display=swap');


body {
  background-color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


h1 {
	position: absolute;
	left: -10000em;
}
h2 {
	font-size: 20px;
	line-height:24px;
	color:black;
	white-space: nowrap;
}

p {
	font-family: 'Montserrat', sans-serif;
}

/* trending text */
body > section h2 {
	font-size: 15px;
	text-align:left;
}

h3 {
	font-size: 16px;
	line-height:17px;
	text-align:center;
}

h4{
	font-size: 20px;
	line-height:24px;
	color:black;
	white-space: nowrap;
	font-weight:bold;
}

section p{
	font-size: 10px;
}

footer p{
	font-size:10px;
}

main section > ul li:first-of-type p{
	font-size: 15px;
	line-height:14px;
	color:white;
	white-space: nowrap;
	text-align:center;
}

main section > ul li:nth-of-type(3)  p{
	font-size: 15px;
	line-height:14px;
	color:white;
	white-space: nowrap;
	text-align:center;
}

main > section:nth-of-type(1)  {
	max-width:90%;
	margin:auto;
}

main section:nth-of-type(2) {
	background-color:#f4eddd;
	padding:0 20px;
}

main section:nth-of-type(2) a {
	text-decoration: underline;
	font-size:12px;
}

main section:nth-of-type(2) article a {
	text-decoration: none;
}

main section:nth-of-type(2) img {
	display: block;
	width: 100%;
	margin:auto;
}

article {
	background-color:white;
} 

article h2{
   font-weight:normal;
   font-size:12px;
}

article p{
	font-size:15px;
	font-weight:500;
}

main > section:nth-of-type(2) article a{
	display:block;
	margin-top:2em;
}


section li img {
	width:60%;
}

header > p {
	font-size: 11px;
	line-height:18px;
	text-align:center;
}

header > nav ul li img {
	width:1.5em;
}

header > nav ul {
	list-style:none;
 	display:flex;
    justify-content:space-between;
    padding:0;
	}

header > nav {
	display: flex;
    justify-content: space-between;
}

header > nav ul li {
	margin-right:1em;
}

nav {
	padding:.4em;
}


/*om de cirkels naast elkaar te krijgen*/
body > section ul {
  list-style:none;
  display:flex;
  justify-content:space-between;
  padding:0;
}

section ul li{
	list-style-type: none;
}
body >  section ul li img{
	border-radius: 50%;
}

main > section ul li img {
	display: block;
	width: 100%;
}

main section ul {
	padding: 0;
}

section ul li:first-of-type, section ul li:nth-of-type(3){
	position: relative;
}

main section ul li:nth-of-type(2){
	background-color:#f4eddd;
	padding:2em;
	margin:1em 0; 	
}

main > section > h3 {
	position: absolute;
	left: -10000em;
}

main section ul li:first-of-type h2 {
	color: white;
	font-size:20px;
}

main section ul li:nth-of-type(3) h2 {
	color: white;
	font-size:18px;
}

main > section:nth-of-type(2) header{
	padding-top:1em;
}

main > section:nth-of-type(2) header a{
	display:block;
	margin: 1em 1em 2em 1em;
}


section ul li:first-of-type div, main section ul li:nth-of-type(3) div {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
}

/*blokje met prijs*/
section ul li div:first-of-type a {
	 display:block;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 15px;
	 text-align:left;
     position:absolute;
  	 left:.5em;
	 bottom:6em;
	 margin:1em 1em 2em 1em; padding:1em;
	 color:white;
	 background-color:rgba(85,85,85,.75);
}


footer {
	background-color:#e4e4e4;
}
footer p {
	font-size:13px;
	display:block;
	padding:1em;
}

footer ul{
  list-style:none;
  text-align:left;
}

footer h2, a{
	font-weight:normal;
    font-size:12px;
}